{% extends 'layout.html' %}

{% block pageTitle %}
  Tell us about your visit to your GP today
{% endblock %}

{% block beforeContent %}
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your feedback will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/v1/q3-appointment-method" method="post" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              <span class="nhsuk-caption-l">
                <span class="nhsuk-u-visually-hidden"> This is:
                </span>
                Question 2 of 6
              </span>
              How do you feel about how quickly you received care or advice on this occasion?
            </h1>
          </legend>

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                  It was about right
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                  It took too long
                </label>
              </div>
              <div class="nhsuk-radios__divider">or
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                  I&#39;m not sure
                </label>
              </div>
            </div>
          </div>

        </fieldset>

        <button type="submit" class="nhsuk-button">Continue
        </button>
      </form>


      {{ backLink({
        "href": "q1-ease",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}