{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Tell us your experience of your GP Practice appointment
      </h1>

      <p class="nhsuk-body-l">
        Help us improve GP services by telling us about your recent appointment at your GP surgery. 
      </p>

<p>You should have recieved a text message from NHS England asking you to complete this short feedback form.</p>
{{ details({
  "text": "What if I have not recieved a text message?",
  "HTML": "
  <p>If you have not recieved a text message from your GP Practice inviting you to give feedback you should .....</p>
    <p></p>
  "
}) }}
{{ insetText({
  "HTML": "<p>It should take less than 2 minutes to complete</p>"
}) }}
      <a href="question-page" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
